._button {
  background: $black;
  border-radius: 6px;
  color: $white;
  font-size: 1.5em;
  margin: 5px;
  padding: 15px 30px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s linear;
  &:before,
  &:after {
    content: "";
    background: $white;
    border-radius: 6px;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.2s linear;
    width: 100%;
    z-index: -1;
  }
  &:before {
    box-shadow: -3px -3px 6px rgba(lighten($white, 20%), 0.5);
  }
  &:after {
    box-shadow: 3px 3px 6px rgba(darken($white, 20%), 0.5);
  }
  &:hover {
    background: $white;
    color: $black;
    &:before,
    &:after {
      opacity: 1;
    }
  }
}
